name: Package 100 Folder

on:
  workflow_dispatch:

jobs:
  package:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create ZIP package
        run: |
          powershell Compress-Archive -Path "10/100/*" -DestinationPath "100.zip"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: 100_package
          path: 100.zip
